
@{
    ViewBag.Title = "QuanTri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuanTri</h2>
<ul style="list-style:none">
    <li>@Html.ActionLink("Người dùng", "Index", "USERs")</li>
    <li>@Html.ActionLink("Truyện", "Index", "TRUYENs")</li>
</ul>


