USE [WEBDOCTRUYEN]
GO
/****** Object:  Table [dbo].[CHITIETTHELOAI]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHELOAI](
	[IDTRUYEN] [int] NOT NULL,
	[IDTHELOAI] [varchar](4) NOT NULL,
 CONSTRAINT [PK_CHITIETTHELOAI] PRIMARY KEY CLUSTERED 
(
	[IDTRUYEN] ASC,
	[IDTHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[IDCHUCVU] [int] NOT NULL,
	[TENCHUCVU] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUONGTRUYEN]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONGTRUYEN](
	[IDCHAP] [int] IDENTITY(1,1) NOT NULL,
	[IDTRUYEN] [int] NOT NULL,
	[TENCHAP] [nvarchar](max) NOT NULL,
	[LINKTRUYEN] [varchar](500) NOT NULL,
	[BATDAU] [int] NOT NULL,
	[KETTHUC] [int] NOT NULL,
	[DUOIANH] [varchar](10) NOT NULL,
	[LUOTXEM] [int] NULL,
	[LUOTTHEODOI] [int] NULL,
	[TIMEPOST] [datetime] NULL,
 CONSTRAINT [PK_CHUONGTRUYEN] PRIMARY KEY CLUSTERED 
(
	[IDCHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDOCTRUYEN]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDOCTRUYEN](
	[IDUSER] [int] NOT NULL,
	[IDTRUYEN] [int] NOT NULL,
 CONSTRAINT [PK_LICHSUDOCTRUYEN] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC,
	[IDTRUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUWEB]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUWEB](
	[IDHISTORY] [int] NOT NULL,
	[ACTION] [nvarchar](500) NOT NULL,
	[IDUSER] [int] NOT NULL,
	[TIME] [datetime] NOT NULL,
 CONSTRAINT [PK_LICHSUWEB] PRIMARY KEY CLUSTERED 
(
	[IDHISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTTRUYEN]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTTRUYEN](
	[IDUSER] [int] NOT NULL,
	[IDTRUYEN] [int] NOT NULL,
	[TIMEPOST] [datetime] NULL,
 CONSTRAINT [PK_POSTTRUYEN] PRIMARY KEY CLUSTERED 
(
	[IDTRUYEN] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[IDTHELOAI] [varchar](4) NOT NULL,
	[TENTHEOLOAI] [nvarchar](100) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[IDTHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEODOITRUYEN]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEODOITRUYEN](
	[IDTRUYEN] [int] NOT NULL,
	[IDUSER] [int] NOT NULL,
 CONSTRAINT [PK_THEODOITRUYEN] PRIMARY KEY CLUSTERED 
(
	[IDTRUYEN] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUYEN]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUYEN](
	[IDTRUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENTRUYEN] [nvarchar](max) NOT NULL,
	[LINKAVATAR] [varchar](500) NULL,
	[TACGIA] [nvarchar](200) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[LUOTXEM] [int] NULL,
 CONSTRAINT [PK_TRUYEN] PRIMARY KEY CLUSTERED 
(
	[IDTRUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 19-Feb-23 10:18:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[LINKAVATAR] [varchar](500) NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[GENDER] [varchar](10) NULL,
	[JOINDATE] [datetime] NULL,
	[IDCHUCVU] [int] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUONGTRUYEN] ADD  CONSTRAINT [DF_CHUONGTRUYEN_BATDAU]  DEFAULT ((0)) FOR [BATDAU]
GO
ALTER TABLE [dbo].[CHUONGTRUYEN] ADD  CONSTRAINT [DF_CHUONGTRUYEN_KETTHUC]  DEFAULT ((1)) FOR [KETTHUC]
GO
ALTER TABLE [dbo].[CHUONGTRUYEN] ADD  CONSTRAINT [DF_CHUONGTRUYEN_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[CHUONGTRUYEN] ADD  CONSTRAINT [DF_CHUONGTRUYEN_LUOTTHEODOI]  DEFAULT ((0)) FOR [LUOTTHEODOI]
GO
ALTER TABLE [dbo].[LICHSUWEB] ADD  CONSTRAINT [DF_LICHSUWEB_TIME]  DEFAULT (getdate()) FOR [TIME]
GO
ALTER TABLE [dbo].[POSTTRUYEN] ADD  CONSTRAINT [DF_POSTTRUYEN_TIMEPOST]  DEFAULT (getdate()) FOR [TIMEPOST]
GO
ALTER TABLE [dbo].[TRUYEN] ADD  CONSTRAINT [DF_TRUYEN_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_JOINDATE]  DEFAULT (getdate()) FOR [JOINDATE]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_IDCHUCVU]  DEFAULT ((10)) FOR [IDCHUCVU]
GO
ALTER TABLE [dbo].[CHITIETTHELOAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHELOAI_THELOAI] FOREIGN KEY([IDTHELOAI])
REFERENCES [dbo].[THELOAI] ([IDTHELOAI])
GO
ALTER TABLE [dbo].[CHITIETTHELOAI] CHECK CONSTRAINT [FK_CHITIETTHELOAI_THELOAI]
GO
ALTER TABLE [dbo].[CHITIETTHELOAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHELOAI_TRUYEN] FOREIGN KEY([IDTRUYEN])
REFERENCES [dbo].[TRUYEN] ([IDTRUYEN])
GO
ALTER TABLE [dbo].[CHITIETTHELOAI] CHECK CONSTRAINT [FK_CHITIETTHELOAI_TRUYEN]
GO
ALTER TABLE [dbo].[CHUONGTRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHUONGTRUYEN_TRUYEN] FOREIGN KEY([IDTRUYEN])
REFERENCES [dbo].[TRUYEN] ([IDTRUYEN])
GO
ALTER TABLE [dbo].[CHUONGTRUYEN] CHECK CONSTRAINT [FK_CHUONGTRUYEN_TRUYEN]
GO
ALTER TABLE [dbo].[LICHSUDOCTRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDOCTRUYEN_TRUYEN] FOREIGN KEY([IDTRUYEN])
REFERENCES [dbo].[TRUYEN] ([IDTRUYEN])
GO
ALTER TABLE [dbo].[LICHSUDOCTRUYEN] CHECK CONSTRAINT [FK_LICHSUDOCTRUYEN_TRUYEN]
GO
ALTER TABLE [dbo].[LICHSUDOCTRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUDOCTRUYEN_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[LICHSUDOCTRUYEN] CHECK CONSTRAINT [FK_LICHSUDOCTRUYEN_USER]
GO
ALTER TABLE [dbo].[LICHSUWEB]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUWEB_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[LICHSUWEB] CHECK CONSTRAINT [FK_LICHSUWEB_USER]
GO
ALTER TABLE [dbo].[POSTTRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_POSTTRUYEN_TRUYEN] FOREIGN KEY([IDTRUYEN])
REFERENCES [dbo].[TRUYEN] ([IDTRUYEN])
GO
ALTER TABLE [dbo].[POSTTRUYEN] CHECK CONSTRAINT [FK_POSTTRUYEN_TRUYEN]
GO
ALTER TABLE [dbo].[POSTTRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_POSTTRUYEN_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[POSTTRUYEN] CHECK CONSTRAINT [FK_POSTTRUYEN_USER]
GO
ALTER TABLE [dbo].[THEODOITRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_THEODOITRUYEN_TRUYEN] FOREIGN KEY([IDTRUYEN])
REFERENCES [dbo].[TRUYEN] ([IDTRUYEN])
GO
ALTER TABLE [dbo].[THEODOITRUYEN] CHECK CONSTRAINT [FK_THEODOITRUYEN_TRUYEN]
GO
ALTER TABLE [dbo].[THEODOITRUYEN]  WITH CHECK ADD  CONSTRAINT [FK_THEODOITRUYEN_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[THEODOITRUYEN] CHECK CONSTRAINT [FK_THEODOITRUYEN_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_CHUCVU] FOREIGN KEY([IDCHUCVU])
REFERENCES [dbo].[CHUCVU] ([IDCHUCVU])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_CHUCVU]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK_USER] CHECK  (([GENDER]='Other' OR [GENDER]='Female' OR [GENDER]='Male'))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK_USER]
GO
